.App {
  text-align: center;
  background-color: #121212;
  width: 100vw;
  height: 100vh;
  /* display: flex; */
  color: white;
}

body {
  padding: 0%;
  margin: 0;
  height: 100%;
  overflow: hidden;
}

nav {
  height: 60px;
  width: 100%;
  margin: 0;
  border-bottom: 1px solid grey;
  display: grid;
  place-items: center;
}

nav h1 {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  color: white;
  font-size: 45px;
}
.game {
  width: 50vw;
  height: calc(100vh - 170px);
  display: flex;
  align-items:center;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 20px;
  flex-direction: column;
}


.games {
  width: 100vw;
  height: calc(100vh - 170px);
  display: flex;
  align-items:center;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 20px;
  flex-direction: row;
}

.board {
  height: 50%;
  display: flex;
  flex-direction: column;
}

.row {
  flex: 33%;
  display: flex;
  flex-direction: row;
  margin: 1px;
}

.letter {
  flex: 33%;
  height: 60px;
  width: 60px;
  border: 2px solid rgb(52, 52, 52);
  margin: 2px;
  display: grid;
  place-items: center;
  font-size: 30px;
  font-weight: bolder;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

#correct {
  background-color: #528d4e;
}

#present {
  background-color: #b49f39;
}

#absent {
  background-color: #3a393c;
}

.keyboard {
  width: 95%;
  height: 20%;
  margin-top: 30px;
  margin-bottom: 30px;
}

.line1 {
  flex: 33%;
  display: flex;
  flex-direction: row;
  display: flex;
  justify-content: center;
  margin: 5px;
}
.line2 {
  flex: 33%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 5px;
}
.line3 {
  flex: 33%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 5px;
}

.key {
  width: 50px;
  height: 60px;
  margin: 2px;
  border-radius: 4px;
  display: grid;
  place-items: center;
  font-size: 20px;
  background-color: grey;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
}

#big {
  width: 100px;
}
#disabled {
  background-color: #3a393c;
}